@{ var resultadoOk = ViewBag.ResultadoOk as string;  }
@if (!String.IsNullOrWhiteSpace(resultadoOk))
{
    <div class="alert alert-success">
        @Html.Raw(resultadoOk)
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
