@model MyApp.Entidades.Entidad
@{
    string nombreTabla = Model.NombrePlural;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Script</title>
</head>
<body>
    <div>
        using System;

        namespace @(Model.AplicacionVersion.Aplicacion.Nombre)
        {
            public partial class @Model.Nombre
            {
            @foreach (var p in Model.Propiedades)
            {
                <text>public @p.Tipo.CLRType@(p.PermiteNull && p.Tipo.CLRType != "string" ? "?" : "") @p.Nombre { get; set; }</text>
            }
            }
        }
    </div>
</body>
</html>
